{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'apps/style.css' %}" />
        
        <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
        <script src="{% static 'apps/script.js' %}"></script>

        {% block head_includes %}
        
        {% endblock %}

        <title>
            German Flash Card Games
        </title>
        
        <script type="text/javascript">
            init_authentication("{{ jwt_token }}");
        </script>
    </head>
    
    <body>
        <div class="header">
            <div class="menu">
                <a href="{% url 'noun_gender' %}">Noun Genders</a> 
                <a href="{% url 'noun_translation_multi' %}">Noun Translation Multi</a>
                <a href="{% url 'noun_pluralization' %}">Noun Pluralization</a>
                <a href="{% url 'verb_translation_multi' %}">Verb Translation</a>
            </div>
            <div class="header-title">
                <h1>
                {% block header_title %}
                {% endblock %}
                </h1>
            </div>
        </div>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body> 
</html>