{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'apps/style.css' %}" />
        
        <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
        <script src="{% static 'apps/url_manifest.js' %}"></script>
        <script src="{% static 'apps/script.js' %}"></script>
        <script src="{% static 'apps/jquery.cookie.js' %}"></script>

        {% block head_includes %}
        
        {% endblock %}

        <title>
            German Flash Card Games
        </title>
    </head>
    
    <body>
        <div class="header">
            {% include 'apps/sections/menu.html' %}
        </div>
        <div class="main">
            <div class="header-title">
                <h1>
                {% block header_title %}
                
                {% endblock %}
                </h1>
            </div>

            {% block content %}
            {% endblock %}
        </div>
        
        {% include 'apps/sections/url_manifest.html' %}
    </body> 
</html>