{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'apps/style.css' %}" />

        <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
        <script src="{% static 'apps/script.js' %}"></script>

        <title>
            German Flash Card Games
        </title>
    </head>
    
    <body>
        <div class="header">
            <div class="menu">
            </div>
            <div class="header-title">
                <h1>
                {% block header_title %}
                {% endblock %}
                </h1>
            </div>
        </div>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body> 
</html>