{% extends 'apps/base.html' %}
{% load static %}

{% block head_includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/noun_article_missing/style.css' %}" />
    <script type="text/javascript" src="{% static 'apps/noun_article_missing/script.js' %}"></script>
{% endblock %}

{% block header_title %}
    Provide the Missing Articles
{% endblock %}

{% block content %}
    
    <div class="flash">
        <span id="id_singular_span" class="singular_form"></span>
    </div>

    <div class="flash">
        <span id="id_plural_span" class="plural_form"></span>
    </div>

    <div class="translation">
        (<span id="id_translation_span"></span>)
    </div>

    <div style="clear: both"></div>

    <div>
        <table>
            <tr>
                <th>Nominative</th>
                <th>Accusative</th>
                <th>Dative</th>
                <th>Genitive</th>
            <tr/>
            <tr>
                <td>
                    <input type="text" id="id_nominative_definite_singular"> 
                        <span class="singular_form"></span><br>
                    <input type="text" id="id_nominative_indefinite_singular"> 
                        <span class="singular_form"></span><br>

                </td>
                <td class="gender_cell">
                    <input type="text" id="id_accusative_definite_singular"> 
                        <span class="singular_form"></span><br>
                    <input type="text" id="id_accusative_indefinite_singular"> 
                        <span class="singular_form"></span><br>
                    
                </td>
                <td class="gender_cell">
                    <input type="text" id="id_dative_definite_singular"> 
                        <span class="singular_form"></span><br>
                    <input type="text" id="id_dative_indefinite_singular"> 
                        <span class="singular_form"></span><br>
                    
                </td>
                <td class="gender_cell">
                    <input type="text" id="id_genitive_definite_singular"> 
                        <span class="singular_form"></span><br>
                    <input type="text" id="id_genitive_indefinite_singular"> 
                        <span class="singular_form"></span><br>
                </td>
            </tr>
        </table>
    </div>

    {% include 'apps/sections/score.html' %}
    {% include 'apps/sections/metadata.html' %}

{% endblock %}
