{% extends 'apps/base.html' %}
{% load static %}

{% block head_includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/noun_gender/style.css' %}" />
    <script type="text/javascript" src="{% static 'apps/noun_gender/script.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="flash">
        <span id="id_singular_span"></span>
    </div>

    <div class="flash">
        <span id="id_plural_span"></span>
    </div>

    <div class="translation">
        (<span id="id_translation_span"></span>)
    </div>

    <div id="id_buttons" class="buttons">
        <button id="id_neutral_answer" class="gender neutral">
            das<br>
            <span class="button_subtitle" id="id_neutral_case">nominative</span>
            <span class="button_subtitle"id="id_neutral_article">definite</span>
        </button>
        <button id="id_feminine_answer" class="gender feminine">
            die<br>
            <span class="button_subtitle"id="id_feminine_case">nominative</span>
            <span class="button_subtitle"id="id_feminine_article">definite</span>
        </button>
        <button id="id_masculine_answer" class="gender masculine" >
            der<br>
            <span class="button_subtitle"id="id_masculine_case">nominative</span>
            <span class="button_subtitle"id="id_masculine_article">definite</span>
        </button>
    </div>

    <div id="id_correction_overlay" class="correction_overlay">
        <div class="correction"><span id="id_correction_correct"></span></div>
        <input type="text" id="id_correction_text" placeholder="correct it">
    </div>
    

    {% include 'apps/sections/score.html' %}
    {% include 'apps/sections/metadata.html' %}
{% endblock %}