{% extends 'apps/base.html' %}
{% load static %}

{% block head_includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/noun_translation_multi/style.css' %}" />
    <script type="text/javascript" src="{% static 'apps/noun_translation_multi/script.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="noun_gender_flash">
        <span id="singular_span"></span>
    </div>

    <div class="noun_gender_flash">
        <span id="plural_span"></span>
    </div>

    <div id="id_buttons" class="noun_translation_buttons">
        <button id="id_multi_answer_0" class="noun_translation_button">0</button>
        <button id="id_multi_answer_1" class="noun_translation_button">1</button>
        <button id="id_multi_answer_2" class="noun_translation_button">2</button>
        <button id="id_multi_answer_3" class="noun_translation_button">3</button>
        <button id="id_multi_answer_4" class="noun_translation_button">4</button>
        <button id="id_multi_answer_5" class="noun_translation_button">5</button>
        <button id="id_multi_answer_6" class="noun_translation_button">6</button>
        <button id="id_multi_answer_7" class="noun_translation_button">7</button>
    </div>

    <div id="id_score_container" class="noun_gender_score">
        <div id="id_mode_percentage"></div>
        <div id="id_all_time_percentage"></div>
        <div id="id_mode_last_24h_percentage"></div>
        <div id="id_last_24h_percentage"></div>
    </div>
{% endblock %}