{% extends 'apps/base.html' %}
{% load static %}

{% block head_includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/noun_gender/style.css' %}" />
    <script type="text/javascript" src="{% static 'apps/noun_gender/script.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="noun_gender_flash">
        <span id="singular_span"></span>
    </div>

    <div class="noun_gender_flash">
        <span id="plural_span"></span>
    </div>

    <div id="id_buttons" class="noun_gender_buttons">
        <button id="id_neutral_answer" class="gender neutral">das</button>
        <button id="id_feminine_answer" class="gender feminine">die</button>
        <button id="id_masculine_answer" class="gender masculine" >der</button>
    </div>

    <div id="id_correction_overlay" class="noun_gender_correction_overlay">
        <div class="noun_gender_correction"><span id="id_correction_correct"></span></div>
        <input type="text" id="id_correction_text"></input>
        <button id="id_correction_submit">Submit</button>
    </div>

    <div id="id_score_container" class="noun_gender_score">
        <div id="id_score"></div>
    </div>
{% endblock %}