{% extends 'apps/base.html' %}
{% load static %}

{% block head_includes %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/pos_pronouns_missing/style.css' %}" />
    <script type="text/javascript" src="{% static 'apps/pos_pronouns_missing/script.js' %}"></script>
{% endblock %}

{% block header_title %}
    Provide the Missing Possesive Pronoun
{% endblock %}

{% block content %}
    <div class="missing">
        <div class="flash">
            <span id="id_pronoun_span"></span>
        </div>
        
        <table>
            <tr>
                <th>Gender</th>
                <th>Nominative</th>
                <th>Accusative</th>
                <th>Dative</th>
                
            <tr/>

            <tr>
                <td>
                    <span id="id_gender_span"></span>
                </td>
                
                <td>
                    <input type="text" class="case_input" id="id_nominative_input"> 
                </td>

                <td>
                    <input type="text" class="case_input" id="id_accusative_input"> 
                </td>

                <td>
                    <input type="text" class="case_input" id="id_dative_input"> 
                </td>
            </tr>
        </table>
    </div>

    <script type="text/javascript">
        var pronouns = {{ pronouns|safe }};
    </script>

    {% include 'apps/sections/score.html' %}
    {% include 'apps/sections/metadata.html' %}

{% endblock %}