{% load current_url %}

            <div class="menu">
                {% for menu in menu_items %}
                    <div class="dropdown">
                        <button>{{ menu.name }}</button>

                        <ul class="dropdown-menu">
                            {% for item in menu.items %}
                                <li>
                                    <a href="{% url item.1 %}"
                                       class="{{ request.path|current_url:item.1 }}">
                                           {{ item.0 }}
                                     </a> 
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>