    <div class="metadata">
        <div>
            <ul>
                <li>Level: <span id="id_level"></span></li>
                <li>Chapter: <span id="id_chapter"></span></li>
                <li>Correct: <span id="id_correct_count"></span></li>
                <li>Total: <span id="id_total_count"></span></li>
                <li>Percent Correct: <span id="id_percent_correct"></span></li>
                <li>Total Time: <span id="id_total_time"></span></li>
                <li>Correct/Minute: <span id="id_correct_minute"></span></li>
                <li>Random Type: <span id="id_choice_mode"></span></li>
            </ul>
        </div>
    </div>