/* noun_gender */
div.noun_gender_flash
{
    width: 800px;
    height: 40px;
    font-size: 40px;
    text-align: center;
    
}

div.noun_gender_buttons
{
    height: 120px;
}

div.noun_gender_correction_overlay
{
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */    
    width: 800px;
    height: 375px;
    background-color: white;
    border: 5px solid gray;
    top: 0px;
    left: 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div.noun_gender_correction
{
    width: 800px;
    height: 125px;
    font-size: 50px;
    text-align: center;
}

input#id_correction_text
{
    width: 800px;
    height: 125px;
    font-size: 50px;
    text-align:center;
}

button#id_correction_submit
{
    width: 800px;
    height: 125px;
}

.gender_text_n
{
    color: #228B22;
}

.gender_text_f
{
    color: red;
}

.gender_text_m
{
    color: #4169E1;
}

button.gender
{
    color: white;
}

button.neutral
{
    background-color: #228B22;
}

button.feminine
{
    background-color: red;
}

button.masculine
{
    background-color: #4169E1;
}

div.noun_gender_buttons button
{
    margin: 40px 0px;
    height: 60px;
    width: 260px;
    font-size: 50px;
    padding: 0px;
}

div.noun_gender_score
{
    width: 790px;
    height: 120px;
    background-color: #CCCCCC;
}